.admin-container {
  max-width: 2000px;
  display: flex;
  border: 1px solid #e1e1e1;
  margin-top: 16px;
}

.admin-navbar {
  /* width: 220px; */
  width: 15%;
  background-color: #f5f7fa;
  padding: 8px 12px;
  border-right: 1px solid #e1e1e1;
}

.admin-navbar a {
  display: block;
  padding: 8px;
}

.admin-navbar a:hover {
  background-color: rgb(225, 233, 249);
  color: #0273e6;
  font-weight: 500;
  border-radius: 4px;
}

.admin-content {
  padding: 8px 12px;
  width: 85%;
  /* max-width: 1780px; */
}

/* .admin-content h3 {
  margin: 0;
  padding: 8px;
  color: var(--text-color);
} */

.home-image-content-header {
  display: flex;
  justify-content: flex-start;
}

.home-image-content-header a {
  display: inline-block;
  padding: 8px 14px;
  border-radius: 6px;
  height: 21.5px;
  line-height: 21.5px;
  margin-top: 10px;
}

.home-image-content-header-save-btn {
  /* background-color: rgb(225, 233, 249); */
  border: 2px solid rgb(36, 77, 158);
  color: rgb(36, 77, 158);
  font-weight: 500;
  margin: 0 10px 0 10px;
}

.home-image-content-header-save-btn:hover {
  /* background-color: rgb(225, 233, 249); */
  border: 2px solid rgb(36, 77, 158);
  color: #fff;
  font-weight: 500;
  background-color: rgb(36, 77, 158);
}

.home-image-content-header-del-btn {
  /* background-color: rgba(235, 187, 187, 0.921); */
  border: 2px solid rgba(197, 48, 48, 0.921);
  color: rgba(197, 48, 48, 0.921);
  font-weight: 500;
}

.home-image-content-header-del-btn:hover {
  /* background-color: rgba(235, 187, 187, 0.921); */
  border: 2px solid rgba(197, 48, 48, 0.921);
  color: #fff;
  font-weight: 500;
  background-color: rgba(197, 48, 48, 0.921);
}

@media screen and (min-width: 1600px) {
  .admin-container {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

.row {
  list-style: none;
  padding-left: 0;
}

.cell {
  float: left;
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.home-image-list-container {
  /* padding: 8px 12px; */
  margin: 10px auto 0 auto;
  /* max-width: 1780px; */
  width: 100%;
}

.home-image-list-container > ul > li {
  padding: 0 20px;
  width: 25%;
  margin-top: 10px;
}

.home-image-list-container > ul {
  margin: 0 -10px;
}

.home-image-container > img {
  width: 100%;
  display: block;
  aspect-ratio: 1/1;
}

.home-image-info {
  margin-top: 5px;
  text-align: right;
}
